
/* General Styles */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    overflow: hidden; /* Prevent scrollbar */
}

header {
    background-color: #4caf50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the title */
    padding: 10px 20px;
    box-sizing: border-box; /* Ensure padding is included in height */
    position: relative;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.logo {
    width: 50px;
    height: auto;
    position: absolute;
    left: 10px;
}

/* Taskbar */
.taskbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #01579b;
    padding: 10px;
    height: calc(100vh - 150px); /* Adjust height to fit within viewport */
    width: 100%; /* Full width on small screens */
    max-width: 250px; /* Fixed width on larger screens */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Add scrolling within taskbar if needed */
}

.item {
    width: 100%; /* Ensure full width */
    color: white;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 1.1em; /* Slightly reduce font size */
    transition: background-color 0.3s, transform 0.2s;
}

.item:hover {
    background-color: #0277bd;
    border-radius: 5px;
    transform: translateX(5px);
}

/* Main content */
.content {
    margin-left: 270px; /* Adjust for taskbar width */
    padding: 20px 0; /* Add top and bottom padding */
    height: calc(100vh - 60px); /* Ensure content takes full height */
    overflow: auto; /* Allow scrolling within the content area if needed */
    box-sizing: border-box; /* Ensure padding is included in height */
    width:100%;
}

.iframe-container {
    width: 100%;
    height: calc(100vh - 80px); /* Adjust height to fit within viewport */
    border: none; /* Remove border */
}

/* Footer */
footer {
    background-color: #212121;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in height */
}

.footer-content {
    font-size: 0.9em;
}

.footer-content a {
    color: #ffab40;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .taskbar {
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
        box-shadow: none;
    }

    .item {
        padding: 10px;
        text-align: center;
    }

    .logo {
        width: 40px;
    }

    .title {
        font-size: 1.2em;
    }

    .content {
        margin-left: 0; /* Reset margin for small screens */
        padding: 10px;
        border:none;
    }
}



